 # For running LLMs hosted by openai (gpt-4o, gpt-4o-mini, etc.)
# Get your OpenAI API key from https://platform.openai.com/
OPENAI_API_KEY=your-openai-api-key

# For running LLMs hosted by groq (deepseek, llama3, etc.)
# Get your Groq API key from https://groq.com/
GROQ_API_KEY=your-groq-api-key

# For running LLMs hosted by Anthropic (claude, claude-2, etc.)
# Get your Anthropic API key from https://www.anthropic.com/
ANTHROPIC_API_KEY=your-anthropic-api-key

# For running DeepSeek Coder LLMs
# Get your DeepSeek API key from https://platform.deepseek.com/
DEEPSEEK_API_KEY=your-deepseek-api-key

# Get your Financial Datasets API key from https://financialdatasets.ai/
FINANCIAL_DATASETS_API_KEY=your-financial-datasets-api-key

# For accessing Alpha Vantage data (optional fallback)
ALPHA_VANTAGE_API_KEY=your-alpha-vantage-api-key

# Set this to true to use the Financial Datasets API in the frontend
NEXT_PUBLIC_FINANCIAL_DATASETS_API_KEY=your-financial-datasets-api-key

# Set this to true to use Yahoo Finance as a backup API
NEXT_PUBLIC_USE_YAHOO_FINANCE=false

# You only need this if NEXT_PUBLIC_USE_YAHOO_FINANCE is true
NEXT_PUBLIC_RAPIDAPI_KEY=your-rapid-api-key